/*基础样式*/
body{padding: 0%;margin-top: 0%;margin-bottom: 0%;margin-left: 1%;margin-right: 1%;line-height:120%;text-align: justify;}
p {text-align: justify;text-indent:2em;line-height:120%;margin-right: 1%;margin-left: 1%;}
div {margin:0px;padding:0px;line-height:120%;text-align: justify;}
li{ clear:both; display:block }
td{padding:3px 0px}


/*封面样式*/
.cover {margin: 0px;padding: 0px;text-indent: 0;text-align: center;}

/*标题页样式*/
.titlepd{padding-left:2em;}

/*制作信息页样式*/
.makertitle{font-size: 1.3em;text-indent: 0em;font-weight: bold;margin-top: 0.5em;margin-bottom: 0.5em;}
.cutline{text-indent: 0em;line-height: 0%;margin-top: 0.3em;margin-bottom: 0.3em;}
.makerifm{text-indent: 0em;line-height: 1.2em;margin-top: 0.2em;margin-bottom: 0.2em;}


/*Logo页样式*/
.logoarea{text-indent: 0em;text-align:center;margin-top: 20%;margin-bottom: 0%;}
.logoimage{width:100%;}


/*目录页样式*/
/*“目录”标题颜色*/
.colorco{color:#000000}
/*目录页超链接样式*/
.nodeco{text-decoration:none}
.chapterNum{font-size: 1em;text-indent: 0em;text-align: center;margin-top: 0.75em;margin-bottom: 0.25em;}
.chapterTitle{font-size: 1em;text-indent: 0em;text-align: center;margin-top: 0.25em;margin-bottom: 0.75em;}
/*目录页超链接颜色*/
.colorg{color:#000000}


/*正文样式*/
/*正文章节标题样式*/
h1 {font-size: 1.5em;line-height: 1.2em;margin-top: 1em;margin-bottom: 1.2em;font-weight: bold;text-align: center;}
/*正文内数字小标题样式*/
.littleTitle{margin-left:2em;font-size: 1.2em}
/*注释代码样式*/
.po{font-size:0.9em;text-indent:-0.8em;padding: 0em 0.1em 0.1em 1em;color:#960014}
/*正文插图样式*/
/*多看出血格样式*/
.kuan{duokan-bleed:leftright}
.zhai{duokan-bleed:lefttopright}
/*上标样式*/
ruby{ruby-align:center}
rt{font-size:0.7em;}
/*下标黑点着重号*/
.zzh {text-emphasis-style:dot;text-emphasis-position:under;-webkit-text-emphasis-style:dot;-webkit-text-emphasis-position:under;-webkit-text-emphasis-style:dot;-epub-text-emphasis-style:dot;}


/*字体样式控制*/
/*字体加粗*/
.bold{font-weight:bold}
/*字体高度*/
.font05{font-size: 0.5em}
.font06{font-size: 0.6em}
.font07{font-size: 0.7em}
.font08{font-size: 0.8em}
.font09{font-size: 0.9em}
.font10{font-size: 1.0em}
.font11{font-size: 1.1em}
.font12{font-size: 1.2em}
.font13{font-size: 1.3em}
.font14{font-size: 1.4em}
.font15{font-size: 1.5em}
.font16{font-size: 1.6em}
.font17{font-size: 1.7em}
.font18{font-size: 1.8em}
.font19{font-size: 1.9em}
.font20{font-size: 2em}
.font26{font-size: 2.6em}
/*首行缩进值为0*/
.in0{text-indent:0em}
/*文本居中*/
.center{text-indent:0em;text-align:center}
/*文本居左*/
.left{text-align:left;duokan-text-indent:0em;text-indent:0em;}
/*文本居右*/
.right{text-indent:0em;text-align:right}
/*斜体的字体样式*/
.italic{font-style:italic}
/*倾斜的字体样式*/
.oblique{font-style:oblique}


/*字体颜色控制*/
/*印象色，用于制作者人名、章节标题等处*/
.color1{color:#b81254}
/*补充颜色写在下面，并注明用处*/


/*元素控制样式*/
/*td元素顶端对齐*/
.tdtop{vertical-align:top}
/*td元素底端对齐*/
.tdbottom{vertical-align:bottom}
/*td元素垂直居中对齐*/
.tdmiddle{vertical-align:middle}
/*td元素水平居中*/
.tdcenter{margin:0 auto;}
/*元素宽度*/
.w05{width:0.5em}
.w07{width:0.7em}
.w09{width:0.9em}
.w10{width:1em}
.w11{width:1.1em}
.w26{width:2.6em}
.w33{width:3.3em}
.w37{width:3.7em}
.w40{width:4em}
.w44{width:4.4em}
.w55{width:5.5em}
.w70{width:70%}
.w100{width:100%}
/*元素顶部外边距*/
.mtb13{margin:-1.3em 0em 0em 0em}
.mtb09{margin:-0.9em 0em 0em 0em}
.mtb05{margin:-0.5em 0em 0em 0em}
.mtb03{margin:-0.3em 0em 0em 0em}
.mt03{margin:0.3em 0em 0em 0em}
.mt05{margin:0.5em 0em 0em 0em}
.mt09{margin:0.9em 0em 0em 0em}
.mt13{margin:1.3em 0em 0em 0em}
/*元素上下外边距*/
.mbt05{margin:0.5em 0em 0.5em 0em}
.mbt09{margin:0.9em 0em 0.9em 0em}
.mbt15{margin:1.5em 0em 1.5em 0em}
.mbt18{margin:1.8em 0em 1.8em 0em}
/*元素上下内边距*/
.pbt09{padding:0.9em 0em 0.9em 0em}
/*行高控制*/
.h04{line-height:40%;vertical-align:center;}
.h11{line-height:110%;vertical-align:center;}
.h20{line-height:200%;vertical-align:bottom;}


/*字体样式*/
@font-face {
    font-family: "BaskervilleSerial";
    src:url("../Fonts/BaskervilleSerial.ttf");
}
.BaskervilleSerial{
    font-family: BaskervilleSerial, serif;
}

@font-face {
    font-family: "xinyalanBold";
    src:url("../Fonts/xinyalanBold.ttf");
}
.xinyalanBold{
    font-family: xinyalanBold, serif;
}

@font-face {
    font-family: "UmeFontsC5";
    src:url("../Fonts/UmeFontsC5.ttf");
}
.UmeFontsC5{
    font-family: UmeFontsC5, serif;
}

@font-face {
    font-family: "TsukuMin";
    src:url("../Fonts/TsukuMin.ttf");
}
.TsukuMin{
    font-family: TsukuMin, serif;
}

@font-face {
    font-family: "xinyalan";
    src:url("../Fonts/xinyalan.ttf");
}
.xinyalan{
    font-family: xinyalan, serif;
}